#body{
  background: rgba(183,222,237,1);
}

#logo {
  width:75%;
  margin-left:10%;
}

#sideNav{
  color:#000!important;
  background-color: #b3caef;
  height:100%;
  width:200px;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  border-radius: 25px;
  border: 5px solid #0000;
}

.sideLink{
  color:black;
  display:block;
  background-color: #228fe2;
  border-radius: 25px;
  border: 2px solid #0000;
  text-decoration:none;
  padding:4px 2px 4px 16px;
  text-align:left;
  font-weight: bold;
  margin-top: 2px;
}

.sideLink:hover{
  background-color:#ccc;
  color:#000;
  cursor: crosshair;
}

.clickable:hover{
  text-decoration:underline;
  background-color:#ccc;
}


.courseButtons:hover{
  color:blue;
  cursor: crosshair;
}
.courseButtons {
  color: navy;
  font-weight:bold;
  padding:3px 5px;
  border:1px solid #aaa;
  border-radius:3px;
  width:35%;
}

.error{
  color:red;
}

.form-style {
  margin:8px auto;
  max-width: 300px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style .field-area{
  height: 80px;
}

.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

.form-style li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.label{
  font-weight: bold;
}

.largeText{
  resize:none;
  height:200px;
  width: 250px;
  border-radius:4px;
  padding: 6px 20px;
  box-sizing: border-box;
}

button{
  border-radius: 20px;
  background-color: #228fe2;
  padding: 10px 20px;
}

button:hover{
  background-color:#ccc;
  color:#000;
}

input[type=text], input[type=password] {
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px 20px;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #adb9cc;
}
input:required:invalid {
  border: 1px solid red;
}

textarea:required:invalid{
  border: 1px solid red;
}