<div ng-controller="createCourseCtrl">
    <form novalidate class="form-style">
        <li><label>Generated Code</label>
            <input id="gencode" type="text" placeholder="The supplied code"
                   required>
        </li>
        <li><label>Course Code</label>
            <input id="coursecode" type="text" placeholder="Course code"
                   required>
        </li>
        <li><label>Name</label>
            <input id="name" type="text" placeholder="Name of the course"
                   required>
        </li>
        <li><label>Description</label>
            <textarea id="cDesc" type="text" class="field-area"
                      placeholder="Enter a short description of the course"
                      required>
            </textarea>
        </li>
        <li>
            <button ng-click="submitCreateCourse()">Create</button>
        </li>
    </form>
</div>
