  <div ng-controller="regCtrl">
   <span ng-bind="errorMsg"></span>
   <form novalidate>
      First Name:<br>
    <input id="fName" type="text"><br>
      Last Name:<br>
    <input id="lName" type="text"><br>
    Personnumber:<br>
    <input id="personnumber" type="text"><br>
    CID:<br>
    <input id="cid" type="text"><br>
    email:<br>
    <input id="email" type="text"><br>
    Password:<br>
    <input id="password" type="password"><br>
    <br><br>
    <button ng-click="registerUser()">Submit</button>
  </form>
  </div>
