<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/index.js"></script>
<link rel="stylesheet" href="css/style.css">

<body id="body" ng-app="myApp" ng-controller="myCtrl">

  <nav id="sideNav" style="width:15%">
  <br>
  <img id="logo" src="img/Ice-logo.png">
  <a href="#" class="sideLink" ng-click="loadLogin()" ng-show="!loggedIn">Login</a>
  <a href="#" class = "sideLink" ng-click="loadRegister()" ng-show="!loggedIn">Register</a>
  <a href="#" class = "sideLink" ng-click="loadProfile()" ng-show="loggedIn">Profile</a>
  <a href="#" class = "sideLink" ng-click="loadStudentCourseView()" ng-show="loggedIn && !isAdmin">Courses</a>
  <a href="#" class = "sideLink" ng-click="loadAdmin()" ng-show="loggedIn && isAdmin">Course admin</a>
  </nav>

 <div ng-switch="displayPartial" style="margin-left:17%">
  <div ng-switch-when="login">
    <div ng-include="'partials/login.html'"></div>
  </div>
  <div ng-switch-when="register">
    <div ng-include="'partials/register.html'"></div>
  </div>
  <div ng-switch-when="profile">
    <div ng-include="'partials/profile.html'"></div>
  </div>
  <div ng-switch-default ng-controller="defCtrl">
     <div ng-include = "'partials/default.html'"></div>
  </div>
 </div>

</body>
</html>
