<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/index.js"></script>
<link rel="stylesheet" href="css/style.css">

<body id="body" ng-app="myApp" ng-controller="myCtrl">

  <nav id="sideNav" style="width:15%">
  <br>
  <img id="logo" src="img/Ice-logo.png">
  <a href="#" class="sideLink" ng-click="loadLogin()" ng-show="!loggedIn">Login</a>
  <a href="#" class="sideLink" ng-click="setLoggedOut()" ng-show="loggedIn">Log out</a>
  <a href="#" class = "sideLink" ng-click="loadRegister()" ng-show="!loggedIn">Register</a>
  <a href="#" class = "sideLink" ng-click="loadProfile()" ng-show="loggedIn">Profile</a>
  <a href="#" class = "sideLink" ng-click="loadStudentCourseView()" ng-show="loggedIn && !isAdmin">Courses</a>
  <a href="#" class = "sideLink" ng-click="loadAdminCourseView()" ng-show="loggedIn && isAdmin">Admin Courses</a>
  <a href="#" class = "sideLink" ng-click="loadAdmin()" ng-show="loggedIn && isAdmin">Course admin</a>
  <a href="#" class = "sideLink" ng-click="loadGroupManagement()" ng-show="loggedIn && !isAdmin">Group management</a>
  <!-- These will set up the side nav-bar 'buttons' properly. A method is also declared, one that will run when it is clicked. -->
  <a href="#" class = "sideLink" ng-click="loadCourseReg()" ng-show="loggedIn && !isAdmin">Register course</a>
  <a href="#" class = "sideLink" ng-click="loadCreateCourse()" ng-show="loggedIn && isAdmin">Create course</a>

  </nav>

  <div ng-switch="displayPartial" style="margin-left:17%">
      <div ng-switch-when="login">
        <div ng-include="'partials/login.html'"></div>
      </div>
      <div ng-switch-when="register">
        <div ng-include="'partials/register.html'"></div>
      </div>
      <div ng-switch-when="profile">
        <div ng-include="'partials/profile.html'"></div>
      </div>
      <div ng-switch-when="courses">
          <div ng-include="'partials/courses.html'"></div>
      </div>
      <div ng-switch-when="adm-courses">
          <div ng-include="'partials/adm-courses.html'"></div>
      </div>
      <div ng-switch-when="removeCourse">
          <div ng-include="'partials/removeCourse.html'"></div>
      </div>
      <!-- When the scope-variable displayPartial is set to registerCourse, include the partial registerCourse.html. -->
      <div ng-switch-when="registerCourse">
          <div ng-include="'partials/registerCourse.html'"></div>
      </div>
      <div ng-switch-when="groupJoin">
          <div ng-include="'partials/groupJoin.html'"></div>
      </div>
      <div ng-switch-when="course">
          <div ng-include="'partials/course.html'"></div>
      </div>
      <div ng-switch-when="quiz">
          <div ng-include="'partials/quiz.html'"></div>
      </div>
      <div ng-switch-when="groupManagement">
          <div ng-include="'partials/groupManagement.html'"></div>
      </div>
      <div ng-switch-when="createCourse">
          <div ng-include="'partials/createCourse.html'"></div>

      </div>
      <div ng-switch-default ng-controller="defCtrl">
         <div ng-include = "'partials/default.html'"></div>
      </div>
     </div>

</body>
</html>
